### Notes

Things to do:

In [1]:
import pandas as pd
import numpy as np
import pickle

from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from sklearn import preprocessing
from sklearn import model_selection 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

import matplotlib.pyplot as plt
import os

In [2]:
ncaaHistory = pd.read_csv(os.path.join('data', 'MNCAATourneyCompactResults.csv'))
seeds = pd.read_csv(os.path.join('data', 'MNCAATourneySeeds.csv'))
ncaaHistory['WSeed'] = 0
ncaaHistory['LSeed'] = 0
ncaaHistory['SeedDif'] = 0
seeds

      Season Seed  TeamID
0       1985  W01    1207
1       1985  W02    1210
2       1985  W03    1228
3       1985  W04    1260
4       1985  W05    1374
...      ...  ...     ...
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

[2286 rows x 3 columns]

In [3]:

for i in range(len(ncaaHistory)):
    ncaaHistory.iloc[i, 8] = seeds.loc[(seeds['TeamID'] == ncaaHistory.iloc[i, 2]) & (seeds['Season'] == ncaaHistory.iloc[i, 0])]['Seed'].values[0]
    ncaaHistory.iloc[i, 9] = seeds.loc[(seeds['TeamID'] == ncaaHistory.iloc[i, 4]) & (seeds['Season'] == ncaaHistory.iloc[i, 0])]['Seed'].values[0]
    try:
        team1 = int(ncaaHistory.iloc[i, 8][1:])
        team2 = int(ncaaHistory.iloc[i, 9][1:])
    except:
        team1 = int(ncaaHistory.iloc[i, 8][1:][:-1])
        team2 = int(ncaaHistory.iloc[i, 9][1:][:-1])
        
    ncaaHistory.iloc[i, 10] = team2 - team1
ncaaHistory.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WSeed,LSeed,SeedDif
0,1985,136,1116,63,1234,54,N,0,X09,X08,-1
1,1985,136,1120,59,1345,58,N,0,Z11,Z06,-5
2,1985,136,1207,68,1250,43,N,0,W01,W16,15
3,1985,136,1229,58,1425,55,N,0,Y09,Y08,-1
4,1985,136,1242,49,1325,38,N,0,Z03,Z14,11

In [25]:
cbb = pd.read_csv(os.path.join('data', 'cbb.csv'))
cbb.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017

In [26]:
teams = pd.read_csv(os.path.join('data', 'MTeams.csv'))
teams = teams.replace('Abilene Chr', 'Abilene Christian')
teams = teams.replace('Florida St', 'Florida St.')
teams = teams.replace('Kansas St', 'Kansas St.')
teams = teams.replace('Michigan St', 'Michigan St.')
teams = teams.replace('Loyola-Chicago', 'Loyola Chicago')
teams.head()

   TeamID           TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Christian           2014          2021
1    1102          Air Force           1985          2021
2    1103              Akron           1985          2021
3    1104            Alabama           1985          2021
4    1105        Alabama A&M           2000          2021

In [27]:
cbb = cbb.set_index('TEAM').join(teams.set_index('TeamName'))
cbb = cbb.loc[~cbb['POSTSEASON'].isna()]
check_cbb = cbb[~cbb.index.duplicated(keep='first')]
check_cbb = check_cbb.loc[check_cbb['TeamID'].isna()]

if len(check_cbb) == 0:
    print("no missing team names")
else:
    print(check_cbb.index)

Index(['Albany', 'Arizona St.', 'Arkansas Little Rock', 'Boise St.',
       'Cal St. Bakersfield', 'Cal St. Fullerton', 'Coastal Carolina',
       'College of Charleston', 'East Tennessee St.', 'Eastern Washington',
       'Fairleigh Dickinson', 'Florida Gulf Coast', 'Fresno St.',
       'Georgia St.', 'Green Bay', 'Iowa St.', 'Jacksonville St.', 'Kent St.',
       'Middle Tennessee', 'Mississippi St.', 'Mount St. Mary's', 'Murray St.',
       'New Mexico St.', 'North Carolina Central', 'North Carolina St.',
       'North Dakota St.', 'Northern Kentucky', 'Ohio St.', 'Oklahoma St.',
       'Oregon St.', 'Prairie View A&M', 'Saint Joseph's', 'Saint Louis',
       'Saint Mary's', 'San Diego St.', 'South Dakota St.', 'Southern',
       'St. Bonaventure', 'St. John's', 'Stephen F. Austin', 'Texas Southern',
       'Utah St.', 'Weber St.', 'Wichita St.', 'Wright St.'],
      dtype='object')

In [28]:
cbb.drop(['FirstD1Season', 'LastD1Season'], axis = 1, inplace = True)

In [29]:
cbb = cbb.loc[~cbb['TeamID'].isna()]
cbb

,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,...,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR,TeamID
Abilene Christian,Slnd,30,27,100.9,100.7,0.5064,51.9,49.8,17.3,23.3,...,49.5,49.8,37.7,33.3,67.1,-2.6,R64,15.0,2019,1101.0
Alabama,SEC,36,20,107.9,95.3,0.8074,51.9,47.8,20.3,18.7,...,53.5,46.9,32.6,32.8,69.9,-1.1,R32,9.0,2018,1104.0
Arizona,P12,38,34,117.5,86.9,0.9700,53.5,45.1,16.5,20.6,...,53.3,42.7,36.0,33.5,66.7,9.0,E8,2.0,2015,1112.0
Arizona,P12,34,25,116.1,95.7,0.9022,53.6,46.2,18.2,16.0,...,52.2,45.7,38.1,31.6,69.1,3.4,R64,6.0,2016,1112.0
Arizona,P12,35,27,117.0,100.4,0.8528,56.3,49.9,17.5,16.7,...,56.7,47.7,36.9,35.8,68.3,3.8,R64,4.0,2018,1112.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Xavier,BE,34,28,117.0,94.3,0.9229,51.4,47.8,17.4,19.3,...,49.8,48.6,36.3,31.1,72.4,7.7,R32,2.0,2016,1462.0
Xavier,BE,35,29,120.9,97.7,0.9211,55.9,49.9,17.2,15.7,...,55.9,49.8,37.2,33.4,71.7,8.8,R32,1.0,2018,1462.0
Xavier,BE,37,23,115.7,95.1,0.9049,53.3,50.0,18.1,18.8,...,53.7,48.9,35.1,34.6,65.5,1.3,S16,6.0,2015,1462.0
Yale,Ivy,29,22,109.1,95.6,0.8209,52.2,46.7,19.9,17.8,...,51.4,45.5,36.0,32.7,66.8,-0.1,R32,12.0,2016,1463.0
Yale,Ivy,29,22,110.5,102.5,0.7034,55.6,47.3,17.8,15.2,...,56.0,47.8,36.5,31.0,72.2,-0.9,R64,14.0,2019,1463.0

In [30]:
ncaaHistory = ncaaHistory.loc[ncaaHistory['Season'].isin([2015, 2016, 2017, 2018, 2019])]
wCbb = cbb.copy()
wCbb.columns = 'W_' + wCbb.columns
print(wCbb.columns)
lCbb = cbb.copy()
lCbb.columns = 'L_' + lCbb.columns
cbbEnhanced = pd.merge(ncaaHistory, wCbb,  how='left', left_on=['Season','WTeamID'], right_on = ['W_YEAR','W_TeamID'])
cbbEnhanced = pd.merge(cbbEnhanced, lCbb,  how='left', left_on=['Season','LTeamID'], right_on = ['L_YEAR','L_TeamID'])

Index(['W_CONF', 'W_G', 'W_W', 'W_ADJOE', 'W_ADJDE', 'W_BARTHAG', 'W_EFG_O',
       'W_EFG_D', 'W_TOR', 'W_TORD', 'W_ORB', 'W_DRB', 'W_FTR', 'W_FTRD',
       'W_2P_O', 'W_2P_D', 'W_3P_O', 'W_3P_D', 'W_ADJ_T', 'W_WAB',
       'W_POSTSEASON', 'W_SEED', 'W_YEAR', 'W_TeamID'],
      dtype='object')

In [32]:
cbbEnhanced.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WSeed,LSeed,...,L_2P_O,L_2P_D,L_3P_O,L_3P_D,L_ADJ_T,L_WAB,L_POSTSEASON,L_SEED,L_YEAR,L_TeamID
0,2015,134,1214,74,1264,64,N,0,Y16a,Y16b,...,48.8,48.0,33.6,32.4,68.0,-7.6,R68,16.0,2015.0,1264.0
1,2015,134,1279,94,1140,90,N,0,Z11b,Z11a,...,50.2,49.6,39.0,33.1,70.8,0.8,R68,11.0,2015.0,1140.0
2,2015,135,1173,56,1129,55,N,0,W11b,W11a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,135,1352,81,1316,77,N,0,X16b,X16a,...,51.1,48.3,38.1,31.3,67.5,-5.1,R68,16.0,2015.0,1316.0
4,2015,136,1112,93,1411,72,N,0,Z02,Z15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
cbbEnhanced = cbbEnhanced.loc[~cbbEnhanced['L_TeamID'].isna()]
cbbEnhanced = cbbEnhanced.loc[~cbbEnhanced['W_TeamID'].isna()]
cbbEnhanced

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WSeed,LSeed,...,L_2P_O,L_2P_D,L_3P_O,L_3P_D,L_ADJ_T,L_WAB,L_POSTSEASON,L_SEED,L_YEAR,L_TeamID
0,2015,134,1214,74,1264,64,N,0,Y16a,Y16b,...,48.8,48.0,33.6,32.4,68.0,-7.6,R68,16.0,2015.0,1264.0
1,2015,134,1279,94,1140,90,N,0,Z11b,Z11a,...,50.2,49.6,39.0,33.1,70.8,0.8,R68,11.0,2015.0,1140.0
3,2015,135,1352,81,1316,77,N,0,X16b,X16a,...,51.1,48.3,38.1,31.3,67.5,-5.1,R68,16.0,2015.0,1316.0
5,2015,136,1116,56,1459,53,N,0,Z05,Z12,...,49.1,47.3,36.8,30.9,61.2,0.2,R64,12.0,2015.0,1459.0
6,2015,136,1139,56,1400,48,N,0,Y06,Y11,...,48.3,37.7,33.8,34.7,62.8,0.9,R64,11.0,2015.0,1400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2019,146,1120,77,1246,71,N,1,Y05,Y02,...,52.9,43.6,35.4,34.3,66.9,8.8,E8,2.0,2019.0,1246.0
331,2019,146,1277,68,1181,67,N,0,W02,W01,...,58.0,45.0,30.8,29.9,73.6,11.2,E8,1.0,2019.0,1181.0
332,2019,152,1403,61,1277,51,N,0,X03,W02,...,54.3,41.9,37.8,31.6,68.6,10.7,F4,2.0,2019.0,1277.0
333,2019,152,1438,63,1120,62,N,0,Z01,Y05,...,51.7,51.4,38.1,34.8,69.3,6.1,F4,5.0,2019.0,1120.0
334,2019,154,1438,85,1403,77,N,1,Z01,X03,...,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019.0,1403.0